body {
	font-family: arial, sans-serif;
	margin: 0;
}
a {
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
progress {
	width: 100%;
}
.track img {
	max-height: 50px;
	float: left;
}
.track {
	height: 50px;
	list-style-type: none;
	margin-bottom: 2px;
	cursor: pointer;
	background: whitesmoke;
}
.track:hover {
	background: gainsboro;
}
#playlist {
	width: 100%;
}
#playlist tr td:first-child {
	width: 15px;
	text-align: center;
}
@media screen and (min-width: 800px) {
	.col {
		float: left;
		width: 33%;
	}
}
#actionbar, #uploadBar.enLarge, #youtubeBar.enLarge {
	height: 45px;
}
body {
	padding-top: 45px;
	transition: padding-top 500ms;
}
body.enLarge {
	padding-top: 90px;
}
#actionbar, #uploadBar, #youtubeBar, #actionBarContainer {
	width: 100%;
	font-size: 36px;
	font-weight: bold;
	overflow-y: hidden;
}
#uploadBar, #youtubeBar {
	transition: height 500ms;
	height: 0;
}
#actionBarContainer, #actionbar {
	position: fixed;
}
#actionbar {
	background: #ff9988;
	height: 45px;
	top: 0;
}
#actionBarContainer {
	top: 45px
}
#youtubeBar {
	background: #ff353b;
}
#uploadBar {
	background: #da92ff;
}
table {
	width: 100%;
	border-collapse: collapse;
}
#youtubeBar table td {
	padding: 0 5px;
}
input[type='file'] {
	font-size: 28px;
	width: 100%;
}
#urlInput {
	background: white;
	width: 100%;
	display: inline-block;
}