body {
	font-family: arial, sans-serif;
}
a {
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
#jobs {
	max-width: 400px;
}
progress {
	width: 100%;
}
.track img {
	max-height: 50px;
	float: left;
}
.track {
	height: 50px;
	list-style-type: none;
	margin-bottom: 2px;
	cursor: pointer;
	background: whitesmoke;
}
.track:hover {
	background: gainsboro;
}
#playlist {
	width: 100%;
}
#playlist tr td:first-child {
	width: 15px;
	text-align: center;
}
@media screen and (min-width: 800px) {
	.col {
		float: left;
		width: 33%;
	}
}