a {
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}

#jobs {
	max-width: 400px;
}
progress {
	width: 100%;
}
#library_c {
	float: left;
}
ul#library li img {
	max-height: 50px;
	float: left;
}
ul#library li {
	height: 50px;
	list-style-type: none;
	margin-bottom: 2px;
	max-width: 400px;
	cursor: pointer;
	background: whitesmoke;
}
ul#library li:hover {
	text-decoration: underline;
	background: gainsboro;
}